body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-x: hidden;
}

.Section1MainDiv {
    width: 1440px;
    height: 908px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 52px;
}

.NavBar {
    width: 1440px;
    height: 82px;
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#NavBarLowerDivHeading1 {
    width: 298px;
    height: 71px;
    font-family: Lato;
    font-weight: 800;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 0%;
    color:#000000;
}

#spanWordHeading1 {
    font-family: Lato;
    font-weight: 800;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: 0%;
    color:#FFA800;
}

.NavLinks {
    display: flex;
}

#NavBarNavLink1,
#NavBarNavLink2 {
    width: 252px;
    height: 34px;
    font-family: Lato;
    font-weight: 700;
    font-style: Bold;
    font-size: 28px;
    line-height: 100%;
    text-decoration: none;
    letter-spacing: 0%;
    color: #000000;
}

#Link1DivLine {
    width: 95px;  
    height: 0px;
    border-width: 2px;
    border: 2px solid #000000;
    transform: translateX(-30px);
}

#NavBarButton {
    width: 316px;
    height: 82px;
    border-radius: 30px;
    background: #FFA800;
    font-family: Lato;
    font-weight: 700;
    font-style: Bold;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #FFFFFF;
    border-style: none;
    cursor: pointer;
}

.Section1LowerDiv {
    display: flex;
    width: 1440px;
    height: 774px;
    background-image: url("../asserts/Images/image\ 1.png");
    border-radius: 30px;
}

.Section1LeftInnerDiv2Outer {
    transform: translateX(60px);
    padding-top: 20px;
    background-color: white;
    width: 780px;
    border-radius: 0px 20px;
    height: 151px;
}

#Section1LeftDivHeading1 {
    width: 804px;
    height: 229px;
    font-family: Lato;
    font-weight: 900;
    font-style: Black;
    font-size: 84px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF;
}

.Section1LeftInnerDiv1 {
    width: 252px;
    height: 64px;
    border-radius: 30px;
    background: #FFA800;
}

#Section1LeftInnerDiv1Text1 {
    width: 125px;
    height: 29px;
    font-family: Lato;
    font-weight: 900;
    font-style: Black;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF;
    padding-left: 30px;
    padding-top: 10px;
    text-align: center;
}

#Section1LeftInnerDiv1Img {
    width: 42px;
    height: 42px;
    background:#FFFFFF;
    border: 2px solid #FFA800;
    color:#FFA800;
    border-radius: 50%;
    transform: translateX(-20px);
}

.Section1LeftInnerDiv2 {
    width: 754px;
    height: 121px;
    border-radius: 152px;
    background: #FFFFFF;
    box-shadow: 3px 4px 11.9px 1px #00000040;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

#Section1LeftInnerDiv2Img1 {
    width: 46px;    
    height: 46px;
    transform: translateY(-5px);
}

.Section1LeftInnerLowerDiv1 {
    display: flex;
    align-items: center;
    gap: 20px;
}

.Section1LeftInnerUpperDiv1 {
    display: flex;
    align-items: center;
    gap: 26px;
    transform: translateX(40px);
}

#Section1LeftInnerDiv2Text1 {
    width: 183px;
    height: 38px;
    font-family: Lato;
    font-weight: 700;
    font-style: Bold;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #0000009E;
}


#Section1LeftInnerDiv2Img2 {
    width: 46px;
    height: 46px;
    transform: translateY(-5px);
}

#Section1LeftInnerDiv2Date {
    width: 261px;
    height: 38px;
    font-family: Lato;
    font-weight: 700;
    font-style: Bold;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #0000009E;
}

#Section1LeftInnerDiv2Img {
    width: 70px;
    height: 70px;
    transform: translateX(-25px);
}

.Section1LeftDiv,
.Section1RightDiv {
    flex: 1;
}

.Section1LeftDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    width: 50%;
    gap: 178px;
}


.Section1RightDiv {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content:center;
    width: 50%;
}

.Section1LeftMainContent {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 51px;
    transform: translate(90px,70px);
}

.Section1LeftInnerDiv1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#Section1RightDivText1 {
    width: 230px;
    height: 98px;
    font-family: Lato;
    font-weight: 900;
    font-size: 64px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: right;
    color: #FFFFFF;
}

#Section1RightDivspan {
    font-family: Lato;
    font-weight: 400;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: right;
    color: #FFFFFF;
}

#Section1RightDivImg {
    width: 318px;
    height: 107px;
}

.Section1RightInnerDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    transform: translate(150px, 150px);
}


.Section2MainDiv {
    transform: translateY(142px);
    width: 1440px;
    height: 612px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 114px;
}

#Section2Heading1 {
    width: 887px;
    height: 106px;
    font-family: Lato;
    font-weight: 700;
    font-style: Bold;
    font-size: 74px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color:#000000;
}

.Section2MainInnerDiv {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#Section2Spam1 {
    font-family: Lato;
    font-weight: 700;
    font-style: Bold;
    font-size: 74px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color:#FFA800;
}

.Section2Div2 {
   transform: translateY(45px);
}

.Section2Div1,
.Section2Div2,
.Section2Div3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 36px;
}

#Section2Div1img,
#Section2Div2img,
#Section2Div3img {
    width: 151px;
    height: 151px;
}

.Section2Div1InnerDiv,
.Section2Div2InnerDiv,
.Section2Div3InnerDiv {
    gap: 15px;
    width: 337px;
    height: 132px;
    color:#000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#Section2Div1Heading {
    font-family: Lato;
    font-weight: 700;
    font-style: Bold;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #000000;
}

#Section2Div1text {
    font-family: Lato;
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #000000;
}

#Section2Div2Heading {
    font-family: Lato;
    font-weight: 700;
    font-style: Bold;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #000000;
}

#Section2Div2text {
    font-family: Lato;
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #000000;
}

#Section2Div3Heading {
    font-family: Lato;
    font-weight: 700;
    font-style: Bold;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #000000;
}

#Section2Div3text {
    font-family: Lato;
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #000000;
}


.Section3MainDiv {
    transform: translateY(376px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1440px;
    height: 1056px;
    gap: 121px;
}

#Section3Heading1 {
    width: 864px;
    height: 88px;
    font-family: Lato;
    font-weight: 700;
    font-style: Bold;
    font-size: 74px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #000000;
}

#Section3Span1 {
    font-family: Lato;
    font-weight: 700;
    font-style: Bold;
    font-size: 74px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color:#FFA800;
}

.Section3MainInnerDiv1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 68px;
}

.Section3MainInnerDiv {
    width: 100%;
    display: flex;
    gap: 63px;
    overflow-x: hidden;
    justify-content: center;
}

.Section3Div1:nth-child(n+4) {
    display: none;
}

.Section3Buttons {
    display: flex;
    gap: 52px;
}

.Section3Div1 {
    display: flex;
    flex-direction: column;
    gap: 36px;
}

#Section3Div1img {
    width: 480px;
    height: 435px;
}

.Section3Div1MainDiv1 {
    width: 480px;
    height: 284px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px 0px #00000040;
}

#Section3Div1Logo1 {
    width: 36px;
    height: 34px;
}

#Section3Div1Text1 {
    font-family: Lato;
    font-weight: 700;
    font-style: Bold;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #000000C2;
}

#Section3Div1Heading {
    width: 221px;
    height: 48px;
    font-family: Lato;
    font-weight: 700;
    font-style: Bold;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #000000;
    transform: translateX(25px);
}

#Section3Div1Logo2 {
    width: 30px;
    height: 30px;
}

#Section3Div1Text2 {
    width: 397px;
    height: 24px;
    font-family: Lato;
    font-weight: 600;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    color:#000000;
}

#Section3Div1Line {
    width: 438px;
    height: 0px;
    border-width: 2px;
}

.Section3Div1InnerDiv1 {
    display: flex;
    align-items: center;
    gap: 10px;
    transform: translateX(25px);
}


.Section4MainDiv {
    transform: translateY(576px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1440px;
    height: 834px;
    gap: 90px;
}

#Section4Heading1 {
    width: 1076px;
    height: 145px;
    font-family: Lato;
    font-weight: 700;
    font-style: Bold;
    font-size: 74px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color:#000000;
}

#Section4Span1 {
    font-family: Lato;
    font-weight: 700;
    font-style: Bold;
    font-size: 74px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color:#FFA800;
}

.Section4Main3Div {
    display: flex;
    gap: 55px;
}

.Section4Div1InnerDiv1 {
    display: flex;
    align-items: center;
    gap: 10px;
}

.Section4Div1InnerDiv2 {
    display: flex;
    align-items: center;
    gap: 10px;
    transform: translateX(-56px);
}

.Section4Div1InnerMainDiv1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#Section4Div1img {
    width: 480px;
    height: 335px;
}

.Section4Div1MainDiv1 {
    width: 480px;
    height: 264px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
    color:white;
    box-shadow: 0px 4px 4px 0px #00000040;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Section4Div1MainInnerDiv {
    display: flex;
    flex-direction: column;
    transform: translate(28px,10px);
}

#Section4Div1Button1 {
    width: 203px;
    height: 46px;
    border-radius: 20px;
    background: #FFA800;
    font-family: Lato;
    font-weight: 700;
    font-style: Bold;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #FFFFFF;
    border-style: none;
    transform: translateY(10px);
}

#Section4Div1Text1 {
    width: 374px;
    height: 63px;
    font-family: Lato;
    font-weight: 900;
    font-size: 24px;
    line-height: 100%;
    transform: translateY(25px);
    color: #000000;
}

#Section4Div1InnerDiv1Img1 {
    width: 35px;
    height: 35px;
}

#Section4Div1InnerDiv1Text1 {
    width: 37px;
    height: 29px;
    color:#000000;
    font-family: Lato;
    font-weight: 700;
    font-style: Bold;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    transform: translateY(5px);
}

#Section4Div1InnerDiv1Img2 {
    width: 35px;
    height: 35px;
}

#Section4Div1InnerDiv1Text2 {
    width: 119px;
    height: 29px;
    font-family: Lato;
    font-weight: 700;
    font-style: Bold;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #000000;
    transform: translateY(5px);
}

.Section5MainDiv {
    overflow: hidden;
    transform: translateY(776px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1440px;
    height: 870px;
    gap: 130px;
}

#Section5Heading1 {
    width: 786px;
    height: 185px;
    font-family: Lato;
    font-weight: 700;
    font-style: Bold;
    font-size: 74px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    color: #000000;
}

#Section5Span1 {
    font-family: Lato;
    font-weight: 700;
    font-style: Bold;
    font-size: 74px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
}

.Section5InnerDiv1 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(60px);
}

.Section5InnerDivButtons {
    transform: translateX(120px);
    width: 160px;
    height: 63px;
    border-width: 4px;
    display: flex;
    gap: 34px;
}

.Section5InnerDiv2InnerDiv1 {
    display: flex;
    align-items: center;
    gap: 24px;
    transform: translate(34px,15px);
}

.centered {
    transform: translateY(-30px);
}

#Section5Button1,
#Section5Button2 {
    width: 63px;
    height: 63px;
    border-width: 4px;
}

.Section5InnerDiv2 {
    width: 770px;
    height: 467px;
    border-radius: 30px;
    background: #D9D9D9;
    display: flex;
    align-items: start;
    flex-direction: column;
}

#Section5InnerDiv2Logo {
    width: 299px;
    height: 59px;
    border-radius: 2px;
    color: #FFA800;
}

#Section5InnerDiv2Text1 {
    width: 58px;
    height: 51px;
    font-family: Lato;
    font-weight: 700;
    font-style: Bold;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #000000;
    transform: translateY(10px);
}

.Section5Main3Divs {
    display: flex;
    gap: 84px;
}

#Section5InnerDiv2Text2 {
    width: 750px;
    height: 137px;
    font-family: Lato;
    font-weight: 600;
    font-size: 24px;
    line-height: 126%;
    color: #000000;
    transform: translate(34px,15px);
}

.Section5InnerDiv3 {
    transform: translate(130px,-34px);
    display: flex;
    flex-direction: column;
    gap: 0px;
}

#Section5InnerDiv3Text1 {
    width: 148px;
    height:0px;
    font-family: Lato;
    font-weight: 900;
    font-style: Black;
    font-size: 32px;
    line-height: 126%;
    letter-spacing: 0%;
    color:#000000;
}

#Section5InnerDiv3Text2 {
    width: 148px;
    height: 0px;
    font-family: Lato;
    font-weight: 600;
    font-size: 24px;
    line-height: 126%;  
    letter-spacing: 0%;
    color: #000000;
}

.Section6MainDiv {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 165px;
    transform: translateY(896px);
    width: 1440px;
    height: 774px;
    border: 6px solid #FFFFFF;
    background-color:#1C1B1F;
}

.Section6InnerDiv1 {
    display: flex;
    flex-direction: column;
    transform: translateX(50px);
    justify-content: center;
}

.Footer {
    display: flex;
    transform: translateY(103px);
    gap: 100px;
}

.Section6InnerDiv2,
.Section6InnerDiv3,
.Section6InnerDiv4 {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.Section6InnerDiv2Links,
.Section6InnerDiv3Links,
.Section6InnerDiv4Links {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

#Section6Heading1 {
    width: 385px;
    height: 91px;
    font-family: Lato;
    font-weight: 700;
    font-style: Bold;
    font-size: 64px; 
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF;
}

#Section6Span1 {
    font-family: Lato;
    font-weight: 700;
    font-style: Bold;
    font-size: 64px;
    line-height: 100%;
    letter-spacing: 0%;
    color:#FFA800;
}

#Section6Text1 {
    transform: translateY(-60px);
    width: 560px;
    height: 124px;
    font-family: Lato;
    font-weight: 600;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0%;
    color:#FFFFFF;
}

.Section6InnerDiv1Content {
    display: flex;
    flex-direction: column;
    gap: 39px;
}

.Section6InnerDiv1Imgs {
    transform: translateY(-50px);
    display: flex;
    gap: 19.3px;
    width: 398px;
    height: 85px;
}

#Section6Img {
    transform: translate(16.5px,15px);
    width: 54px;
    height: 53px;
}

.Section6ImgDiv {
    width: 86px;
    height: 85px;
    background-color: #FFA800;
    border-radius: 50%;
}

.Section6OuterDiv2 {
    transform: translateY(10px);
    display: flex;
    gap: 8px;
}

#Section6InnerDiv2Heading {
    width: 167px;
    height: 51px;
    font-family: Lato;
    font-weight: 700;
    font-style: Bold;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF;
}

#Section6InnerDiv2Link1 {
    width: 101px;
    height: 50px;
    font-family: Lato;
    font-weight: 600;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0%;
    color:#FFFFFF;
}

#Section6InnerDiv2Link2 {
    width: 121px;
    height: 50px;
    font-family: Lato;
    font-weight: 600;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF;
}

#Section6InnerDiv2Link3 {
    width: 146px;
    height: 50px;
    font-family: Lato;
    font-weight: 600;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0%;
    color:#FFFFFF;
}

#Section6InnerDiv2Link4 {
    width: 176px;
    height: 50px;
    font-family: Lato;
    font-weight: 600;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF;
}

#Section6InnerDiv3Heading {
    width: 167px;
    height: 51px;
    font-family: Lato;
    font-weight: 700;
    font-style: Bold;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0%;
    color:#FFFFFF;
}

#Section6InnerDiv3Link1 {
    width: 206px;
    height: 50px;
    font-family: Lato;
    font-weight: 600;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF;
}

#Section6InnerDiv3Link2 {
    width: 289px;
    height: 50px;
    font-family: Lato;
    font-weight: 600;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0%;
    color:#FFFFFF;
}

#Section6InnerDiv3Link3 {
    width: 310px;
    height: 50px;
    font-family: Lato;
    font-weight: 600;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0%;
    color:#FFFFFF;
}

#Section6InnerDiv3Link4 {
    width: 210px;
    height: 50px;
    font-family: Lato;
    font-weight: 600;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0%;
    color:#FFFFFF;
}

#Section6InnerDiv4Heading {
    width: 167px;
    height: 51px;
    font-family: Lato;
    font-weight: 700;
    font-style: Bold;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: 0%;
    color:#FFFFFF;
}

#Section6InnerDiv4Link1 {
    width: 263px;
    height: 50px;
    font-family: Lato;
    font-weight: 600;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0%;
    color:#FFFFFF;
}

#Section6InnerDiv4Link2 {
    width: 289px;
    height: 50px;
    font-family: Lato;
    font-weight: 600;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0%;
    color:#FFFFFF;
}

a {
    text-decoration: none;
}

.Section6BottomFooterDiv {
    display: flex;
    flex-direction: column;
    height: 100px;
}

#Section6Line {
    width: 1350px;
    height: 0px;
    border-width: 6px;
    border: 6px solid #FFFFFF
}

.Section6InnerBottomDiv {
    width: 1440px;
    display: flex;
    justify-content:space-between;
    transform: translate(40px,-10px);
}

#Section6InnerBottomDivText1 {
    width: 761px;
    height: 48px;
    font-family: Lato;
    font-weight: 600;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: 0%;
    color:#FFFFFF;
}

#Section6InnerBottomDivText2 {
    width: 570px;
    height: 48px;
    font-family: Lato;
    font-weight: 600;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: 0%;
    color:#FFFFFF;
}


