body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.Asider {
    width: 444px;
    height: 1300px;
    border-right-width: 1px;
    padding-top: 40px;
    padding-bottom: 48px;
    gap: 32px;
    background: #FFFFFF;
    border-right: 1px solid #F3F3F3;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.AsiderInnerDiv1 {
    display: flex;
    width: 440px;
    height: 80px;
    justify-content:space-between;
    align-items: center;
    gap:154px;
}

#AsiderImg1 {
    width: 202px;
    padding-left:10px ;
    height: 40px;
}

#AsiderImg2 {
    padding-right: 20px;
    width: 32px;
    height: 32px;
}

.AsiderInnerDiv2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 440px;
    height: 64px;
    border-right-width: 4px;
    gap: 28px;
    background: #F5F7FF;
    border-right: 4px solid #007DFC
}

#AsiderImg3 {
    width: 28px;
    height: 28px;
}

#AsiderText1 {
    width: 332px;
    height: 24px;
    font-family: Poppins;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color: #007DFC;
}

.AsiderInnerDiv3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 440px;
    height: 64px;
    border-right-width: 4px;
    background-color:#F5F7FF;
    border-right: 4px solid #000000;
    gap:37px;
}

#AsiderImg4 {
    width: 24px;
    height: 24px;
}

#AsiderText2 {
    width: 332px;
    height: 24px;
    font-family: Poppins;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color:#000000;
}

.DashBoardTop {
    width: 996px;
    height: 96px;
    background: #FFFFFF;
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.DashBoardTopRightDiv {
    display: flex;
    justify-content: end;
    gap: 20px;
    width: 285px;
    height: 48px;
}

#DashBoardTopRightDivImg1,
#DashBoardTopRightDivImg2,
#DashBoardTopRightDivImg3 {
    width: 48px;
    height: 48px;
}

.UserDashboard {
    display: flex;
}

.Dashboard {
    transform: translateY(100px);
}

.DashBoardTopLeftDiv {
    display: flex;
    align-items: center;
}

.DashBoardBottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 996px;
    height: 600px;
    gap: 20px;
    background: #FFFFFF;
}

.DashBoardBottomDiv1 {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 754px;
    height: 74px;
    gap: 8px;
}

label {
    width: 754px;
    height: 18px;
    font-family: Inter;
    font-weight: 600;
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0%;
    font-size: 20px;
    color:#000000;
}

label:focus,
input:focus {
    outline: none;
}

input {
    width: 554px;
    font-size: 20px;
    height: 50px;
    gap: 8px;
    border-radius: 8px;
    border-width: 1px;
    background: #FFFFFF;
    border: 1px solid #C1C1C1;
    padding-left: 20px;
    padding-right: 20px;
}

.DashBoardBottomButton {
    transform: translateX(-100px);
    width: 300px;
    height: 48px;
    opacity: 0.15;
    border-radius: 8px;
    background: #000000;
    font-family: Poppins;
    font-weight: 500;
    font-style: Medium;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    color:#FFFFFF;
}

#FormCancelButton {
    width: 140px;
    height: 40px;
    border-style: none;
    cursor: pointer;
    background-color: red;
    color: white;
    font-size: 20px;
    font-weight: 600;
    opacity: 0.5;
}

#FormCancelButton:hover,
#FormSaveButton:hover,
#Logout:hover {
    opacity: 1;
}

#FormSaveButton {
    width: 140px;
    height: 40px;
    border-style: none;
    cursor: pointer;
    color: white;
    background-color: green;
    font-size: 20px;
    font-weight: 600;
    opacity: 0.5;
}

#Logout {
    transform: translate(110px, 30px);
    width: 140px;
    height: 40px;
    border-style: none;
    cursor: pointer;
    color: white;
    background-color: black;
    font-size: 20px;
    font-weight: 600;
    opacity: 0.5;
}

.Buttons {
    display: flex;
    gap: 20px;
    transform: translate(30px,30px);
}

.DashBoardBottomDiv1Inner {
    display: flex;
}

#EditButtonName,
#EditButtonSurName,
#EditButtonPhone,
#EditButtonEmail,
#EditButtonPassword {
    transform: translateX(-40px);
    background-color: transparent;
    border-style: none;
    font-size: 20px;
    cursor: pointer;
}